{% extends 'base.html' %}


{% block head %}
<title>Kodutööde hindaja</title>
{% endblock %}


{% block body %}
    <p>LTAT.06.009 Mobiiliarvutus ja asjade internet</p>
    <h1>Androidi kodutööde hindaja</h1>
        <div class="content">
            <form method="post" enctype="multipart/form-data">
                <p>Sisestage oma rakenduse apk ja oma matrikli number:</p>
                <input type="file" id="file" name="file" accept=".apk"> <br>
                <label>Vali kodutöö: </label>
                    <select name="homework">
                        <option value="homework1">Kodutöö 1</option>
                        <option value="homework2">Kodutöö 2</option>
                        <option value="homework3">Kodutöö 3</option>
                        <option value="homework4">Kodutöö 4</option>
                        <option value="homework5">Kodutöö 5</option>
                        <option value="homework6">Kodutöö 6</option>
                    </select> <br>
                <input type="text" id="matrikkel" name="matrikkel" placeholder="Matrikli nr"> <br>
                <br>
                <button onclick="">Esita hindamiseks</button>
            </form>
            <p id="failure">{{ errorMessage }}</p>
            <p>Testide jooksutamiseks võib kuluda kuni minut, selle aja jooksul palume veebilehte mitte värskendada.</p>
            <p>Parasjagu töös olevate kodutööde arv serveris:  {{ queueSize }}/10</p>
        </div>
{% endblock %}